@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1260px !important;
  margin: auto !important;
}

::-webkit-scrollbar {
  display: none;
}

.card-responsive-style {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(250px, 1fr 1fr));
  gap: 16px;
}
